
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.expand {
    flex-grow: 1;
}

.field {
    border-bottom: 1px solid darkgray;
}

label.field {
    padding: 5px 5px 0px 5px;
}

input.field, textarea.field, select.field {
    padding: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

textarea.field {
    height: 100px;
    font-family: inherit;
    resize: none;
}

.col > .item ~ .col {
    border-left: 1px solid darkgray;
}

.item ~ .col {
    padding-left: 1.825ch;
    margin-left: 2ch;
}

.cell {
    user-select: none;
    margin-right: 1ch;
    white-space: nowrap;
}

.cell:not(:first-child) {
    flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item {
    flex: 0 0 auto;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 1ch;
    padding: .5ch 1ch;
    margin: .25ch;
    overflow: hidden;
}

.item > i:first-child {
    margin-left: -6px;
    width: 20px;
    height: 14px;
}

.item:hover {
    background-color: hsl(212, 100%, 93.75%);
}

.item.selected, .item:active {
    background-color: hsl(212, 100%, 87.5%);
}

.item.selected {
    border: 1px solid gray;
}

.tool {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 20px;
}

.tool:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.tool:active {
    background-color: rgba(0, 0, 0, 0.25);
}

.tool.disabled {
    color: #bbb;
    pointer-events: none;
}

.tool.disabled:hover, .too.disabled:active {
    background-color: transparent;
    cursor: default;
}

.tool[data-count]::after {
    position: absolute;
    right: -2px;
    bottom: -2px;
    content: attr(data-count);
    font-size: 12px;
    text-shadow: 0px 0px 2px black;
}

.spacer {
    border-right: 1px solid hsl(120, 25%, 37.5%);
    margin: 5px 0px;
}

.logo {
    margin: 5px;
    padding: 5px;
    color: hsl(120, 50%, 82.5%);
    text-decoration: none;
    font-weight: bold;
}

.tab {
    background-color: lightgray;
    margin: 4px 5px 0px 5px;
    padding: 2.5px 15px 2.5px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid darkgray;
    border-bottom: 0;
    user-select: none;
    white-space: nowrap;
    position: relative;
}

.tab > i.fa-close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: transparent;
    font-size: 12px;
}

.tab:hover > i.fa-close {
    color: darkgray;
}

.tab:hover > i.fa-close:hover {
    color: darkred;
}

#new-tab {
    background-color: #ddd;
    border: 0;
    color: darkgray;
}

.tab:hover {
    background-color: #ddd;
}

.tab:active, .tab.selected {
    background-color: white;
}

#new-tab:hover {
    color: dimgray;
    background-color: lightgray;
}

.expander {
    justify-content: center;
    align-items: center;
    width: 10px;
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
    background-color: hsl(120, 25%, 40%);
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.expander:hover {
    background-color: hsl(120, 25%, 45%);
}

.hidden {
    display: none;
}

#header {
    border-bottom: 1px solid dimgray;
    background-color: hsl(120, 25%, 50%);
}

#tabs {
    background-color: #ddd;
    border-bottom: 1px solid darkgray;
    width: 0;
    min-width: 100%;
    overflow-x: auto;
}

#container::before, #details::before, #project::before {
    display: block;
    background-color: #ddd;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid darkgray;
    font-family: sans-serif;
    font-size: 16px;
}

#container {
    flex: 1 1 0;
    font-family: monospace;
    font-size: 12px;
    background-color: #c0c0c0;
    overflow: auto;
    width: 0;
    min-width: 100%;
}

#details, #project {
    flex: 0 0 auto;
    background-color: lightgray;
}

#details {
    border-left: 1px solid dimgray;
}

#details::before {
    content: "Details";
}

#project {
    border-right: 1px solid dimgray;
}

#project::before {
    content: "Project";
}